// Components Page Styles
// These are styles, separate from your main site, to adjust the components page itself

.components-page {
    section {
        border-bottom: 6px solid $primary!important;
        > header {
            background: $primary;
            padding-left: 2%;
            h1 {
                color: $white;
            }
        }
    }
    article {
        border-bottom: 2px solid $light-grey!important;
        padding: 5%;
    }
}


