//
// Text Components
//

// Headings
h1, h2, h3, h4, h5, h6 {
    color: $secondary;
    margin-bottom: 1em;
    a {
        text-decoration: none;
        color: $secondary;
    }
}

h1, .alpha {
    @extend .ff-bold;
    font-size: rem(32px);
    line-height: 1.125em;
    @include break(lap) {
        font-size: rem(40px);
    }
    @include break(desk-wide) {
        font-size: rem(50px);
    }
}

h2, .beta {
    font-size: rem(24px);
    line-height: 1.125em;
    @include break(desk) {
        font-size: rem(34px);
    }
}

h3, .gamma {
    @extend .ff-bold;
    font-size: rem(20px);
    @include break(desk) {
        font-size: rem(26px);
    }
}

h4, .delta {
    @extend .ff-bold;
    font-size: rem(16px);
    @include break(desk) {
        font-size: rem(20px);
    }
}

h5, .epsilon {
    font-size: rem(14px);
    text-transform: uppercase;
    @include break(desk) {
        font-size: rem(16px);
    }
}

h6, .zeta {
    @extend .ff-bold;
    font-size: rem(14px);
    text-transform: uppercase;
}


// Paragraphs
p {
    margin: 0 0 1.25em 0;
    line-height: 1.5em;
}

// Anchor tags
a {
    color: $secondary;
    text-decoration: underline;
    @include transition(all 250ms $ease-in-cubic);
    &:hover {
        color: $secondary-darker;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}
a, :-moz-any-link:focus { outline: none;}


// Blockquotes
blockquote {
    @include margin(1em null 2em 1em);
    padding-left: 2em;
    border-left: 2px solid $light-grey;
}


// Default list styles (needed if you use reset.scss)
ul, ol, dl {
    @include margin(1em null 2em);
    padding-left: 1em;
    list-style-type: disc;
    li, dt, dd {
        line-height: 1.25em;
        margin-bottom: 0.5em;
    }
    ul, ol, dl {
        list-style-type: circle;
    }
}

// Table
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 4px;
    font-size: rem(15px);
    margin-bottom: 30px;
    caption {
        margin-bottom: 6px;
        text-align: left;
        font-size: 0.85em;
    }
    tr:nth-child(odd) {
        td {
            background: $off-white;
        }
    }
    td {
        padding: 10px;
        vertical-align: center;
    }
    th {
        @extend .ff-bold;
        text-align: left;
        background: $primary;
        padding: 14px 10px;
        vertical-align: center;
        border-bottom: 2px solid $primary-darker;
    }
    @include break(desk) {
        margin-bottom: 60px;
    }
}

// Code
kbd, code, samp, pre {
    background: $off-white;
    font-family: 'Courier New', Courier, monospace;
    padding: 4px;
}


// Inline elements

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

small {
    font-size: 0.75em;
}

q {
    quotes: inherit;
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}

cite {
    font-weight: bold;
}

dfn {
    font-weight: bold;
}

var {
    font-style: italic;
}

time {
    font-weight: bold;
}

// Images

figure {
    margin-bottom: 3%;
}

figcaption {
    font-size: 0.75em;
}
