//
// Grids
//

// Outer Container & Grid Item - Base Styles
.grid {
    @extend .cf;
    margin-left: -10px;
    margin-right: -10px;
    .grid-item {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.grid-item {
    width: 100%;
}

// Gutter Width Mixin
@mixin gutter($val:10px) {
    margin-left: -($val/2) + px;
    margin-right: -($val/2) + px;
    > .grid-item {
        padding-left: $val/2 + px;
        padding-right: $val/2 + px;
    }
}
// Specific Gutters
$gutter-widths: 20, 30, 40, 50, 60, 70, 80;
@each $gutter-width in $gutter-widths {
    .gutter-#{$gutter-width} {
        @include break(lap) {
            @include gutter($gutter-width/2);
        }
        @include break(desk) {
            @include gutter($gutter-width);
        }
    }
}
.gutter-10 {
    @include gutter;
}

// Width Mixins
@mixin full {
    width: 100%;
}
@mixin one-half {
    width: 50%;
}
@mixin one-third {
    width: 33.333%;
}
@mixin two-thirds {
    width: 66.666%;
}
@mixin one-quarter {
    width: 25%;
}
@mixin three-quarters {
    width: 75%;
}
@mixin one-fifth {
    width: 20%;
}
@mixin two-fifths {
    width: 40%;
}
@mixin three-fifths {
    width: 60%;
}
@mixin four-fifths {
    width: 80%;
}

// Default
.one-half {
    @include one-half;
}
.one-third {
    @include one-third;
}
.two-thirds {
    @include two-thirds;
}
.one-quarter {
    @include one-quarter;
}
.three-quarters {
    @include one-quarter;
}
.one-fifth {
    @include one-fifth;
}
.two-fifths {
    @include two-fifths;
}
.three-fifths {
    @include three-fifths;
}
.four-fifths {
    @include four-fifths;
}

// Tablet Widths
@include break(tablet) {
    .tablet-full {
        @include full;
    }
    .tablet-one-half {
        @include one-half;
    }
    .tablet-one-third {
        @include one-third;
    }
    .tablet-two-thirds {
        @include two-thirds;
    }
    .tablet-one-quarter {
        @include one-quarter;
    }
    .tablet-three-quarters {
        @include three-quarters;
    }
    .tablet-one-fifth {
        @include one-fifth;
    }
    .tablet-two-fifths {
        @include two-fifths;
    }
    .tablet-three-fifths {
        @include three-fifths;
    }
    .tablet-four-fifths {
        @include four-fifths;
    }
}

// Lap Widths
@include break(lap) {
    .lap-full {
        @include full;
    }
    .lap-one-half {
        @include one-half;
    }
    .lap-one-third {
        @include one-third;
    }
    .lap-two-thirds {
        @include two-thirds;
    }
    .lap-one-quarter {
        @include one-quarter;
    }
    .lap-three-quarters {
        @include three-quarters;
    }
    .lap-one-fifth {
        @include one-fifth;
    }
    .lap-two-fifths {
        @include two-fifths;
    }
    .lap-three-fifths {
        @include three-fifths;
    }
    .lap-four-fifths {
        @include four-fifths;
    }
}

// Desk Widths
@include break(desk) {
    .desk-full {
        @include full;
    }
    .desk-one-half {
        @include one-half;
    }
    .desk-one-third {
        @include one-third;
    }
    .desk-two-thirds {
        @include two-thirds;
    }
    .desk-one-quarter {
        @include one-quarter;
    }
    .desk-three-quarters {
        @include three-quarters;
    }
    .desk-one-fifth {
        @include one-fifth;
    }
    .desk-two-fifths {
        @include two-fifths;
    }
    .desk-three-fifths {
        @include three-fifths;
    }
    .desk-four-fifths {
        @include four-fifths;
    }
}

// Desk Wide Widths
@include break(desk-wide) {
    .desk-wide-full {
        @include full;
    }
    .desk-wide-one-half {
        @include one-half;
    }
    .desk-wide-one-third {
        @include one-third;
    }
    .desk-wide-two-thirds {
        @include two-thirds;
    }
    .desk-wide-one-quarter {
        @include one-quarter;
    }
    .desk-wide-three-quarters {
        @include three-quarters;
    }
    .desk-wide-one-fifth {
        @include one-fifth;
    }
    .desk-wide-two-fifths {
        @include two-fifths;
    }
    .desk-wide-three-fifths {
        @include three-fifths;
    }
    .desk-wide-four-fifths {
        @include four-fifths;
    }
}

