//
// Typography - Secondary
//

.intro {
    @extend .ff-bold;
    font-size: rem(20px);
    margin: 0 0 1em 0;
    @include break(desk) {
        font-size: rem(30px);
    }
}

.subheading {
    @extend .ff-bold;
    font-size: em(16px);
    margin-bottom: 14px;
}

.highlight {
    font-size: rem(18px);
}

.descr {
    @extend .ff-reg;
    line-height: 1.25em;
}

.bigger {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0 0 2rem 0;
}

.large {
    font-size: 1.875rem;
}

.massive {
    font-size: 5rem;
}

.smaller {
    font-size: 0.875em;
}

.tiny {
    font-size: 0.688em;
}

.note {
    font-size: 0.75rem;
}

.ref {
    @extend .note;
    text-transform: uppercase;
    margin-bottom: 6px;
    color: $dark-grey;
}

.info-split {
    .left {
    }
    .right {
        color: $red;
    }
    &.align-right {
        text-align: right;
        max-width: 260px;
        .left {
            float: left;
        }
    }
}

.credit {
    @extend .ff-bold;
}

// Small Notices

.small-notice {
    @extend .ff-bold;
    text-transform: uppercase;
}


// Navigation

.nav {
    @extend .ff-reg;
    li {
        margin-left: 6px;
        margin-right: 6px;
    }
    a {
        text-decoration: none;
    }
}

.menu {
    @extend .clear-list;
}

// Alignment

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-center-to-left-lap {
    text-align: center;
    @include break(lap) {
        text-align: left;
    }
}

.align-center-to-right-lap {
    text-align: center;
    @include break(lap) {
        text-align: right;
    }
}

.align-center-to-left-desk {
    text-align: center;
    @include break(desk) {
        text-align: left;
    }
}

.align-center-to-right-desk {
    text-align: center;
    @include break(desk) {
        text-align: right;
    }
}

.align-center-to-left-desk-wide {
    text-align: center;
    @include break(desk-wide) {
        text-align: left;
    }
}

.align-center-to-right-desk-wide {
    text-align: center;
    @include break(desk-wide) {
        text-align: right;
    }
}



// Colours
.white-text {
    color: $white;
}
.black-text {
    color: $black;
}
.grey-text {
    color: $grey;
}
.green-text {
    color: $green!important;
}
.yellow-text {
    color: $yellow-darker!important;
}
.red-text {
    color: $red!important;
}
.orange-text {
    color: $orange!important;
}
.purple-text {
    color: $purple!important;
}







