/*
** Mobile Menu
*/

.mobile-menu-container {
    @include transition(all 250ms $ease-in-cubic);
    background: $primary;
    color: $white;
    max-height: 0;
    overflow: hidden;
    &.active {
        max-height: 300px;
    }
    a {
        color: $white;
    }
}

.menu--mobile {
    @extend .clear-list;
    text-align: center;
    @include margin(0 null);
    margin-bottom: 10%;
    li {
        display: block;
    }
    a {
        @extend .ff-bold;
        display: block;
        text-decoration: none;
        font-size: rem(16px);
        @include padding(10px null);
        &:hover {
            background: $primary-darker;
            color: $white;
        }
    }
}

.close-menu {
    a {
        @extend .ff-bold;
        text-decoration: none;
        &:hover {
            color: $secondary;
        }
    }
}
