//
// List Page
//


// Pagination
.pagination {
    @include padding(7% null 10%);
    text-align: center;
    .page-nav {
        @include border-hover;
        @include margin(null 5% 20px);
        color: $white;
        font-size: rem(24px);
        display: inline-block;
    }
    @include break(desk) {
        .page-nav {
            font-size: rem(40px);
        }
    }
    @include break(desk-wide) {
        .page-nav {
            font-size: rem(50px);
        }
    }
}

.pagination-info {
    color: $grey;
}

.next, .prev {
    @include margin(null 15px);
    text-decoration: none;
}

a.prev {
    .fa {
        @include margin(null 10px null 0);
    }
}
