// Buttons
// Author: Chris Smith


a {
    .fa {
        margin-left: 10px;
    }
}

@mixin border-hover($color: $white) {
    border-bottom: 2px solid transparent;
    &:hover {
        border-color: $color;
    }
}

// Read More
.more {
    @extend .ff-med;
    color: $orange;
    .fa {
        font-size: rem(14px);
    }
    &:hover {
        color: $red;
    }
}

// Lozenges

.lozenge {
    @extend .ff-bold;
    display: inline-block;
    border: 1px solid $warm-grey;
    border-radius: 4px;
    text-align: center;
    color: $grey;
    text-transform: uppercase;
    font-size: rem(13px);
    text-decoration: none;
    padding: 6px 12px;
    margin-bottom: 10px;
    &:hover {
        background: $off-white;
        color: $dark-grey;
    }
    .fa {
        color: $orange;
    }
}

.lozenge--selected, .lozenge--selected:hover {
    background: $off-white;
    color: $orange-darker;
}

// Buttons
.buttons {
    > li {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
        &:first-child {
            margin-left: 0;
        }
    }
    &.stacked {
        > li {
            display: flex;
            margin-left: 0;
        }
    }
}







