//
// Forms
//


// Field Containers
.form-fields {
    margin-bottom: 30px;
    @extend .clear-list;
    li {
        margin-bottom: 14px;
    }
    @include break(desk) {
        margin-bottom: 60px;
    }
}

.inline-form-element {
    display: inline;
    margin-right: 20px;
    @include break(desk) {
        margin-right: 40px;
    }
}

// .btn-form {
//     @extend .ff-bold;
//     font-size: rem(14px);
//     border-radius: 6px;
//     color: $off-black;
//     background: $light-grey;
//     border: none;
//     height: 26px;
//     padding-left: 12px;
//     padding-right: 12px;
//     @include transition(all 250ms $ease-in-cubic);
//     &:hover {
//         cursor: pointer;
//         background: darken($light-grey, 10%);
//     }
// }

// .btn-form--primary {
//     background: $green;
//     color: $white;
//     &:hover {
//         background: darken($green, 10%);
//     }
//     @include break(desk) {
//         height: 44px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
// }


