//
// List Items
//

// Bullet Point List
.list--bullet {
    margin-left: 20px;
    list-style-type: disc;
    margin-bottom: 10px;
    li {
        line-height: 1.5em;
        list-style-image: url('../img/bullet.svg');
    }
    @include break(lap) {
        padding-left: 10px;
    }
    @include break(desk) {
        margin-bottom: 20px;
        padding-left: 30px;
        li {
            padding-left: 20px;
        }
    }
}

// Default List
.list--default {
    @extend .clear-list;
    .descr {
        display: none;
    }
    li {
        margin-bottom: 20px;
    }
    @include break(lap) {
        li {
            margin-bottom: 30px;
        }
    }
    figure a {
        display: block;
        position: relative;
        z-index: 1;
    }
    .img-container {
        img {
            @include transition(all 250ms $ease-in-cubic);
        }
        &:hover {
            img {
                opacity: 0.8;
            }
        }
    }
    @include break(desk) {
        .descr {
            display: block;
        }
        li {
            margin-bottom: 40px;
        }
    }
}

// Image Container


// Fallback Image
.img-fallback {
    position: relative;
    background-color: $tertiary;
    @include transition(all 250ms $ease-in-cubic);
    &:after {
        display: block;
        content: '';
        background-image: url('../images/cross-green.svg');
        background-size: 42px;
        background-position: center;
        background-repeat: no-repeat;
        @include size(100%);
        @include position(absolute, 0 0 0 0);
    }
    &:hover {
        background-color: $tertiary-darker;
    }
}

.list-item-title {
    a {
        color: $white;
    }
    @include break(desk) {
        font-size: rem(20px);
    }
}




