/* ==========================================================================
   #MAIN MENU
   ========================================================================== */

.c-main-menu {
    display: none;
    @include mq(tablet) {
        display: inline-block;
    }
}

.c-menu-primary, .c-menu-secondary {
    li {
        display: inline-block;
    }
    a {
        @include font-bold;
        text-decoration: none;
        &:hover {
            color: fade-out($black, 0.6);
        }
    }
}

.c-menu-primary {
    margin-top: 10px;
    margin-bottom: 10px;
    li {
        margin-left: 20px;
        margin-bottom: 0;
    }
    a {
        color: $white;
        font-size: 1.25rem;
        text-transform: lowercase;
    }
    @include mq(desktop) {
        a {
            font-size: 1.5rem;
        }
    }
}

.c-menu-secondary {
    margin-top: 10px;
    margin-bottom: 0;
    li {
        margin-bottom: 0;
        margin-left: 10px;
    }
    a {
        color: fade-out($black, 0.5);
        font-size: 0.85rem;
        &:hover {
            color: fade-out($black, 0.2);
        }
    }
}
