/* ==========================================================================
   #MOBILE MENU
   ========================================================================== */

.c-mobile-menu-container {
    @include transition;
    background: $primary;
    color: $white;
    max-height: 0;
    overflow: hidden;
    &.active {
        max-height: 400px;
    }
    a {
        color: $white;
    }
}

