/* ==========================================================================
   #QUICK INFO
   ========================================================================== */

.c-info-row {
    text-align: center;
    display: none;
    @include mq(tablet) {
        display: block;
    }
    .o-row {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

.c-info_item__title {
    color: $grey;
    font-size: 0.85rem;
    @include mq(tablet) {
        text-align: left;
        @include inline-block(middle, 75%);
        margin-bottom: 0;
    }
    @include mq(desktop) {
        font-size: 1rem;
    }

}

.c-info_item__icon {
    display: none;
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    @include mq(tablet) {
        @include inline-block(middle, 18%);
        margin-right: 4%;
        text-align: left;
        img {
            width: 40px;
        }
    }
    @include mq(desktop) {
        width: 12%;
        img {
            width: 80px;
        }
    }
}
